html, body {
    margin: 0;
    height: 100%;
}

body {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 100%;
}

#newbook {
    height: 100px;
    width: 200px;
    margin-left: 20px;
    margin-top: 20px;
    border-radius: 5px;
    font-size: 20px;
}

#book_form {
    display: none;

}

.table {
    grid-column: 1 / span 3;
}

#headrow {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: space-between;
}

.headcells {
    width: max-content;
}

.tablerow {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
}

.booktitle {
    grid-column: 1 / span 1;
}

.bookauthor {
    grid-column: 2 / span 1;
}
.bookpages {
    grid-column: 3 / span 1;
}

.cardtitle {
    font-size: 16px;
    color: black;
}

.cardpages {
    font-size: 16px;
    color: black;
}


