html, body {
    margin: 0;
    height: 100%;
}

thead {
    height: 26px;
}

body {
    display: grid;
    grid-template-columns: 400px 1fr;
    grid-template-rows: 100px 1fr;
}

#newbook {
    height: 100px;
    width: 200px;
    margin-left: 20px;
    margin-top: 20px;
    border-radius: 5px;
    font-size: 20px;
    grid-column: 1 / span 1;
    grid-row: 1 / span 1;
    background-color: burlywood;
    border-color: burlywood;
    color: black;
    font-family: 'Lugrasimo', cursive;
}

#close {
    font-family: 'Lugrasimo', cursive;
}

#book_form {
    display: none;
    grid-column: 1 / span 1;
    grid-row: 2 / span 1;
    justify-content: space-between;
    margin-top: 400px;
    margin-left: 20px;
    margin-bottom: 20px;
}

#submit {
    color: white;
    background-color: green;
    border-radius: 3px;
    border-color: green;
    font-weight: bold;
}

.tablerow {
    padding-top: 30px;
    padding-left: 10px;
}

#pages {
    margin-bottom: 15px;
}

label {
    width: max-content;
    height: max-content;
    font-size: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-top: 10px;
}

#table {
    grid-column: 2 / span 1;
    grid-row: 1 / span 2;
}

#headrow {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    font-family: 'Lugrasimo', cursive;
    border-style: solid;
    border-color: black;
    border-width: 0px 0px 2px 2px;
    border-radius: 3px;
    box-shadow: 5px 5px 10px grey;
}

.formcategory {
    font-size: 25px;
    font-family: 'Lugrasimo', cursive;
    font-weight: 500;
}

.headcells {
    width: max-content;
    font-size: 20px;
    font-family: 'Lugrasimo', cursive;
    font-weight: 500;
}

.tablerow {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    margin-top: 30px;
}

.removebook {
    grid-column: 1 / span 1;
    grid-row: 1 / span 1;
    width: 100px;
    color: white;
    background-color: red;
    border-radius: 3px;
    border-color: red;
    font-weight: bold;
}

.bookread {
    grid-column: 2 / span 1;
    width: fit-content;
}

.booktitle {
    grid-column: 3 / span 1;
}

.bookauthor {
    grid-column: 4 / span 1;
}
.bookpages {
    grid-column: 5 / span 1;
}

.cardtitle {
    font-size: 16px;
    color: black;
}

.cardpages {
    font-size: 16px;
    color: black;
}


